*{
    margin: 0;
    padding: 0;
}
/* body style */
body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #3333;
    margin-top: 12px;
}
img{
    border-radius: 50%;
   
}
.profile{
    background: rgb(102, 102, 231);
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 5px 2px 5px 2px ;
}
.fixed{
    position: fixed;
    width: 100%;
    background: linear-gradient(35deg, rgb(114, 60, 175),rgb(34, 13, 13),rgb(114, 60, 175));
    padding:20px 0 20px 0;
    z-index: 1000;
    color: blanchedalmond;
    border-radius: 0 0 1px 1px;
    box-shadow: rgb(0, 0, 0) 5px 2px 5px 2px ;
}
nav{
    /* background: lightcoral; */
    margin:;
}
nav ul li{
    float: ;
    list-style: none;
    padding-right: 11px;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: blanchedalmond;
    padding: 14px;
    transition: ease-in-out 0.4s;
}
nav ul li a:hover{
    background: rgba(110, 30, 30, 0.2);
    margin-top: 8px;
}
.container{
    margin:17px;
    position: absolute;
    margin-top: 135px;
}
footer{
    background: black;
    margin:0;
    padding: 15px;
    color: white;
}
.readMore{
    background: #333;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
#abt-me{
    /* background: rgb(166, 151, 180); */
    padding-top: 12px;
    padding-bottom: 12px;
}
.summary{
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: rgb(0, 0, 0) 5px 2px 5px 2px ;
    padding: 25px;
    background: rgb(231, 198, 174);
    border-radius: 12px 0 0 12px;
   
}
.summary h2{
    padding: 20px;
    transform: rotate(7deg);
    box-shadow: rgb(0, 0, 0) 5px 2px 5px 2px ;
    width: 50%;
    margin-bottom: 25px;
    margin-top: 25px;
    background: rgb(102, 102, 231);
    border-radius: 12px;
    color: #fff;
}